# dependencies
node_modules/
.pnpm-store/

# next.js build
.next/
out/
out.zip
build/

# logs
*.log

# env
.env
.env.local
.env.*.local
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
.idea/
.DS_Store